body {
  background: yellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-header {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 800px;
}

.board {
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 2px;
  border: 6px solid black;
  border-radius: 18px;
  box-shadow: darkgrey;
}

.letter {
  font-size: 1350%;
}
